@font-face {
    font-family: "MonaSans-Black";
    src: url("./assets/company_Aventus/fonts/MonaSans-Black.ttf") format("truetype");
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: "MonaSans-BlackItalic";
    src: url("./assets/company_Aventus/fonts/MonaSans-BlackItalic.ttf") format("truetype");
    font-weight: black;
    font-style: italic;
}

@font-face {
    font-family: "MonaSans-Bold";
    src: url("./assets/company_Aventus/fonts/MonaSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MonaSans-BoldItalic";
    src: url("./assets/company_Aventus/fonts/MonaSans-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "MonaSans-ExtraBold";
    src: url("./assets/company_Aventus/fonts/MonaSans-ExtraBold.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "MonaSans-ExtraBoldItalic";
    src: url("./assets/company_Aventus/fonts/MonaSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "MonaSans-SemiBold";
    src: url("./assets/company_Aventus/fonts/MonaSans-SemiBold.ttf") format("truetype");
    font-weight: "semibold";
    font-style: normal;
}

@font-face {
    font-family: "MonaSans-SemiBoldItalic";
    src: url("./assets/company_Aventus/fonts/MonaSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: "semibold";
        font-style: italic;
}

@font-face {
    font-family: "MonaSans-Light";
    src: url("./assets/company_Aventus/fonts/MonaSans-Light.ttf") format("truetype");
    font-weight: light;
    font-style: normal;
    }

@font-face {
    font-family: "MonaSans-LightItalic";
    src: url("./assets/company_Aventus/fonts/MonaSans-LightItalic.ttf") format("truetype");
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: "MonaSans-ExtraLight";
    src: url("./assets/company_Aventus/fonts/MonaSans-ExtraLight.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
    }

@font-face {
    font-family: "MonaSans-ExtraLightItalic";
    src: url("./assets/company_Aventus/fonts/MonaSans-ExtraLightItalic.ttf") format("truetype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "MonaSans-Medium";
    src: url("./assets/company_Aventus/fonts/MonaSans-Medium.ttf") format("truetype");
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "MonaSans-MediumItalic";
    src: url("./assets/company_Aventus/fonts/MonaSans-MediumItalic.ttf") format("truetype");
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: "MonaSans-Regular";
    src: url("./assets/company_Aventus/fonts/MonaSans-Regular.ttf") format("truetype");
    font-weight: "regular";
    font-style: normal;
}

@font-face {
    font-family: "MonaSans-Italic";
    src: url("./assets/company_Aventus/fonts/MonaSans-Italic.ttf") format("truetype");
    font-weight: "regular";
    font-style: italic;
}