<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    <header>
        <!-- <img class="logo" src="../assets/images/favicon.png" alt=""> -->
        <a href="/"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
    </header>

    <!-- start banner -->
     <div id="banner">
        <a href="{{ site.github.aip_repo }}" class="button fork"><strong>View On GitHub</strong></a>

        <span class="downloads">
            <a href="/" class="button" ><strong>Home</strong></a>
            <a href="/all.html" class="button"><strong>All</strong></a>
            <a href="/core.html" class="button"><strong>Core</strong></a>
            <a href="/informational.html" class="button"><strong>Informational</strong></a>
        </span>
    </div>
    <!-- end banner -->

    <div class="wrapper">
        <section>
            {% include anchor_headings.html html=content anchorClass="anchor-link" beforeHeading=true %}
        </section>
        <footer>
            {% if site.github.is_project_page %}
            <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <p>Check out our
            <a href="https://github.com/Aventus-Network-Services/documentation/blob/main/resources/Aventus_Technical_Whitepaper_Version_2.pdf">WHITEPAPER</a>, <a href="https://www.aventus.io/">Website</a>, <a href="https://github.com/Aventus-Network-Services/avn-node">Code</a> & <a href="https://aventus-network-services.github.io/avn-gateway-docs/">API</a></p>
        </footer>
    </div>

</body>

{% comment %}
Article schema specification:
https://schema.org/TechArticle
{% endcomment %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "TechArticle",
    "headline": "AIP-{{ page.aip | xml_escape }}: {{ page.title | xml_escape }}{% if page.status == "Draft" or page.status == "Last Call" %} [DRAFT]{% endif %}",
    "author": "{{ page.author }}",
    "name": "AIP-{{ page.aip | xml_escape }}: {{ page.title | xml_escape }}{% if page.status == "Draft" %} [DRAFT]{% endif %}",
    "dateCreated": "{{ page.created | date: "%Y-%m-%d" }}",
    "datePublished": "{{ page.created | date: "%Y-%m-%d" }}",   
    "inLanguage": "en-US",
    "license": "#copyright",
    "copyrightYear": "{{ page.created | date: "%Y" }}"
  }
</script>

</html>